
/*---------------- mobile device ----------------*/
@media only screen and (max-width: 600px) {
 .header{
  text-align: center;
 }
 .icon span{
  margin-left: 15px;
 }
.video-container{
  display: none;
  /* max-width: 100%;
  height: auto; */
}
}